<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <h1>Sign In</h1>
    <a href="/">Home</a><a href="logout">Logout</a>
    <form action="/new" method="post">
        <label for="title">Title: </label>
        <input type="text" name="title" id="title" required>

        <label for="msg">Message: </label>
        <textarea name="message" id="msg" required placeholder="Message..."></textarea>
        <button>Submit</button>
    </form>
</body>
</html>